* {
    box-sizing: border-box;
} 
   .grid_content {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    position: relative;		
    width: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    justify-content: space-between;	
}
.pic {
    width: 255px;
    height: 420px;
    display: block;
}
.hover-shadow:hover {
-webkit-box-shadow: -1px 2px 19px 1px rgba(127,41,78,1);
-moz-box-shadow: -1px 2px 19px 1px rgba(127,41,78,1);
box-shadow: -1px 2px 19px 1px rgba(127,41,78,1);
}
img.hover-shadow {
    transition: 0.3s;
}
.container {
position: relative;
}
.overlay {
 position: absolute;
 top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
}
.container:hover .overlay {
  opacity: 1;
}